#logo{
    height: 10vh;
    min-height: 7rem;
    border-radius: 50%;
}

main {
    flex: 1;
}

body {
    min-height: 95vh;
    display: flex;
    flex-direction: column;
}

.frontpage-list {
    font-size: large;
}
.frontpage-list li {
    margin: 0.5rem 0;
}

.frontpage-list a {
    font-size: 1.2rem;
    padding: 0.5rem;
}

nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav a {
    color: white;
    padding: 0.4rem 0.6rem;
}

.topics {
    border: 2px solid #cac7c7;
    padding: 20px;
    padding-top: 0px;
    margin-bottom: 30px;
    border-radius: 8px;
}